<!DOCTYPE html>
<html lang="ko">

<head>

</head>

<body>
    <div class = "list">
        <button class="test01">test01</button>
        <button class="test02">test02</button>
        <button class="test03">test03</button>
        <button class="test04">test04</button>
    </div>

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // 로딩시
        });

        $(".list button").click(function() {
            console.log(this);
        });
    </script>
</body>
